/* Estilo base para el cuerpo del documento */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f5; /* bg-zinc-100 */
    line-height: 1.6; /* leading-normal */
    letter-spacing: 0.05em; /* tracking-normal */
    
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem; /* p-8 */

}

/* Estilos para el contenedor del contenido principal */
.content {
    max-width: 64rem; /* max-w-4xl */
    background-color: #FFFAF7;
    margin-top: 0;
    padding: 0; /* Eliminar padding para alinear al borde */
    padding-top: 0rem; /* Mantener padding para otros elementos */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */

}

/* Estilo para el título */
.title {
    position: top;
    font-size: 1.7rem; /* text-4xl */
    text-align: center;
    padding: 1.8rem;
    margin-top: 0;
    margin-bottom: 1rem; /* mb-4 */
    background-color: #e5e7eb;
    font-weight: bold;
}

/* Estilos para columnas flexibles */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Alineación y estilo para columnas */
.flex-center {
    justify-content: center;
    align-items: center;
}

/* Espaciado entre elementos */
.space-y-2 {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin-top: 3rem;
    margin-left: 3.5rem;
    margin-right: 2.5rem;

}

/* Estilo para texto de enlaces */
.text-orange-500 {
    color: #FF8400;
    text-decoration: none;
}

.image-container {
    flex: 1; /* La imagen ocupa todo el ancho disponible en pantallas pequeñas */
    text-align: center; /* Centra el contenido */
    padding: 10px; /* Espaciado interno */
    position: relative;
}

/* Contenedor con imagen de fondo */
.background-image {
    position: relative; /* Para permitir posicionamiento relativo de elementos internos */
    width: 300px; /* Ancho deseado del marco */
    height: 350px; /* Altura deseada del marco */
    background-image: url('images/yo.jpeg'); /* Ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el contenedor */
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-right: 0rem;
    margin-bottom: 3.5rem;
    border-radius: 1.5rem; /* Bordes redondeados si es necesario */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Sombra */
}


/* Estilo para el pie de página */
.footer {
    position: botton;
    padding: 0rem; /* Ajustable según necesidad */
    background-color: #e5e7eb; /* gris claro */

}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo {
    text-decoration: none;
}

.logo-container {
    background-color: white;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0;
}

    
@media (max-width: 464px) {
    /* Ajustar la alineación del contenedor */
    .container {
        padding: 20px; /* Ajustar el padding para tener más espacio */
        text-align: center; /* Asegura que todo el contenido esté centrado */
    }

    .content {
        flex-direction: column; /* Para que el contenido se disponga en columnas */
        align-items: center; /* Centra el contenido */
    }

    .flex-row {
        flex-direction: column; /* Cambiar la dirección para pantallas pequeñas */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }

    .image-container {
        text-align: center; /* Centra la imagen */
        padding: 10px; /* Espaciado interno */
        max-width: 100%; /* Asegura que la imagen no se desborde */
    }

    .background-image {
        max-width: 100%; /* La imagen no se desborda del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        margin: 0; /* Eliminar márgenes que podrían causar desplazamiento */
    }

    .space-y-2 {
        margin-left: auto; /* Eliminar desplazamiento hacia la izquierda */
        margin-right: auto; /* Asegura que el contenido esté centrado */
        gap: 0.2rem; /* Reducir el espaciado entre elementos */
        padding: 20px; /* Añadir espaciado para mayor flexibilidad */
    }

    /* Ajustes para el pie de página */
    .footer {
        padding: 5px; /* Ajustar el padding para evitar desbordamientos */
        text-align: center; /*
